{% extends '_base.html' %}
{% block content %}
<section class="container my-5">
    <div class="card shadow-sm p-4">
        <h2 class="card-title text-center fw-bold mb-4">Perjanjian Pengajuan Penilaian</h2>
        <div class="card-body">
            <p>Dengan mengirimkan penilaian, Anda menyatakan setuju dengan ketentuan berikut:</p>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">
                    <strong>Kejujuran:</strong> Penilaian Anda harus jujur dan berdasarkan pengalaman pribadi Anda. Anda bertanggung jawab untuk memastikan bahwa informasi yang Anda berikan adalah akurat dan dapat dipertanggungjawabkan.
                </li>
                <li class="list-group-item">
                    <strong>Sopan dan Hormat:</strong> Serangan pribadi, ucapan diskriminatif, dan bahasa yang menyerang atau ofensif tidak diperbolehkan.
                </li>
                <li class="list-group-item">
                    <strong>Moderasi:</strong> Penilaian Anda mungkin dimoderasi untuk kesesuaian dan kepatuhan dengan panduan ini.
                </li>
            </ul>
            <p class="text-muted">Mohon pastikan bahwa umpan balik Anda konstruktif dan bermanfaat bagi kedua belah pihak, baik mahasiswa maupun dosen.</p>
            <p>Anda juga menyetujui bahwa penggunaan Nomor Pokok Mahasiswa (NPM) Anda untuk registrasi diberikan izin untuk digunakan dalam verifikasi bahwa Anda adalah mahasiswa dari Jurusan Sistem Informasi di Universitas Gunadarma.</p>
        </div>
    </div>
</section>
{% endblock content %}
