{% extends '_base.html' %}
{% block content %}
<section class="container my-5">
    <div class="card shadow-sm p-4">
        <h1 class="card-title text-center fw-bold mb-4">Kontak</h1>
        <div class="card-body">
            <p class="lead text-center mb-4">Jika Anda memiliki pertanyaan atau memerlukan bantuan lebih lanjut, silakan hubungi saya melalui:</p>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">Email: <a href="mailto:raihanfauzan962@gmail.com">raihanfauzan962@gmail.com</a></li>
                <li class="list-group-item">Instagram: <a href="https://www.instagram.com/_raihanfauzan" target="_blank">_raihanfauzan</a></li>
            </ul>
            <p class="text-muted text-center">Saya berusaha untuk merespons semua pertanyaan secepat mungkin. Terima kasih atas minat dan dukungan Anda!</p>
        </div>
    </div>
</section>
{% endblock content %}
